---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Chen Hsi" description="About Chen Hsi">
  <div class="stack gap-20">
    <div class="pic">
      <Hero
        title="About"
        tagline="Hi, this is me. You can read below to learn more!"
      >
        <img
          width="1553"
          height="873"
          src="https://storage.googleapis.com/profolio_media/public/assets/profile.jpg"
          alt="Chen Hsi "
        />
      </Hero>
    </div>
    <main class="wrapper about">
      <section>
        <h2 class="section-title">Chen Hsi</h2>
        <div class="content">
          <p>
            Creative developer and installation engineer based in Taiwan, born in 1996. Graduated from the Department of Electrical Engineering at
            National Taiwan University. For the past few years, I have worked as
            an engineer at the art installation company WHYIXD and have also
            designed control systems for many artists' installations.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Academic</h2>
        <div class="content">
          <div class="rowedu">
            <div class="tablecol">2015-2020</div>
            <div class="tablecol">Bachelor of Electrical Engineering</div>
            <div class="tablecol">National Taiwan University</div>
          </div>
          <div class="rowedu">
            <div class="tablecol">2019-2021</div>
            <div class="tablecol">Networking and Multimedia Lab</div>
            <div class="tablecol">National Taiwan University</div>
          </div>
          <div class="rowedu">
            <div class="tablecol">2020</div>
            <div class="tablecol">Published "Towards Cost Effective Server Population Estimation: A Case Study of Twitch"</div>
            <div class="tablecol">WWW Conference</div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Work</h2>
        <div class="content">
          <div class="row">
            <div class="tablecol">2022/3-2023/12</div>
            <div class="tablecol">WHYIXD </div>
            <div class="tablecol">Engineer</div>
            <div class="tablecol">Taipei</div>
          </div>
          <div class="row">
            <div class="tablecol">2021/9-2021/12</div>
            <div class="tablecol">Noise Kitchen </div>
            <div class="tablecol">Intern</div>
            <div class="tablecol">Taipei</div>
          </div>
          <div class="row">
            <div class="tablecol">2019/7-2020/7</div>
            <div class="tablecol">Crescendo Lab </div>
            <div class="tablecol">Intern</div>
            <div class="tablecol">Taipei</div>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Designed Projects</h2>
        <div class="content">
          <div class="row">
            <div class="tablecol">2024</div>
            <div class="tablecol">我們與他們的連結</div>
            <div class="tablecolt">Chou Tai Chun</div>
            <div class="tablecol">48x48 GAYA's Universe, Hualien</div>
          </div>
          <div class="row">
            <div class="tablecol">2024</div>
            <div class="tablecol">Customized Furniture</div>
            <div class="tablecolt">Hsiangfu Chen</div>
            <div class="tablecol">Taipei</div>
          </div>
          <div class="row">
            <div class="tablecol">2024</div>
            <div class="tablecol">Acoustic Mirror</div>
            <div class="tablecolt">404 nf</div>
            <div class="tablecol">Yue-Jing Lantern Festival, Tainan</div>
          </div>
          <div class="row">
            <div class="tablecol">2023</div>
            <div class="tablecol">Dark Halo </div>
            <div class="tablecolt">Hello Bast</div>
            <div class="tablecol">Taoyuan</div>
          </div>
          <div class="row">
            <div class="tablecol">2022</div>
            <div class="tablecol">The Lathery Enfold </div>
            <div class="tablecolt">Hao Ni</div>
            <div class="tablecol">Liste Art Fair, Basel, Switzerland</div>
          </div>
          <div class="row">
            <div class="tablecol">2022</div>
            <div class="tablecol">Nothing to look for, how about you? </div>
            <div class="tablecolt">Yang Jie-Huai</div>
            <div class="tablecol">Next Art Tainan, Tainan</div>
          </div>
          <div class="row">
            <div class="tablecol">2021</div>
            <div class="tablecol">Game of Life by Tim Wei </div>
            <div class="tablecolt">Tim Wei</div>
            <div class="tablecol">LIVES: Life, Survival, Living, Jut Art Museum, Taipei</div>
          </div>
        </div>
      </section>
      
    </main>
  </div>
</BaseLayout>

<style>
  .pic {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically (if the height is defined) */
    margin: 0 auto;
  }
  
  .wrapper {
    width: 100%;
    max-width: 80rem;
    margin-inline: auto;
    padding-inline: 1rem;
  }
  
  .about {
    display: flex;
    flex-direction: column;
    gap: 5rem 2.5rem;
  }
  
  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  section {
    width: 100%;
    margin-bottom: 2rem;
  }
  
  .section-title {
    max-width: 80%;
    margin: 0 auto;
    font-size: var(--text-xxl);
    color: var(--gray-0);
    margin-bottom: 1rem; /* Space between title and content */
  }
  
  .content {
    max-width: 80%;
    display: grid;
    gap: 1rem;
    margin: 0 auto;
    font-size: var(--text-sm);

  }
  
  .row, .rowedu {
    display: grid;
    gap: 1.5rem; /* Space between rows */
  }
  
  .row {
    grid-template-columns: 1.2fr 1.7fr 1fr 1.5fr; /* Adjusted to include artist column */
  }
  
  .rowedu {
    grid-template-columns: 1.2fr 3fr 1.5fr ; /* Adjusted to include artist column */
  }
  
  .tablecol {
    font-size: var(--text-sm);
    color: var(--gray-200);
  }
  
  .tablecolt {
    font-size: var(--text-xxl);
    color: var(--gray-300);
  }
  
  @media (min-width: 50em) {
    img{

      width:50%;
    }
    .content{
      font-size: var(--text-lg);
      max-width: 70%;

    }
    .about {
      display: grid;
      grid-template-columns: 1fr;
    }
  
    section {
      display: block;
      font-size: var(--text-lg);
    }
  .section-title{
    max-width: 70%;
    font-size: var(--text-2xl);
  }
    .tablecol {
      font-size: var(--text-lg);
    }
  }
</style>
