---

---

<div class="pill"><slot /></div>

<style>
  .out {
  }
  .pill {
    display: flex;
    padding: 0.5rem 0.7rem;
    margin: 0px 0px 0px 10px;
    gap: 0.5rem;
    color: var(--accent-text-over);
    border: 1px solid var(--accent-regular);
    background-color: transparent;
    border-radius: 999rem;
    font-size: var(--text-md);
    line-height: 1.15;
    text-align: center;
    white-space: nowrap;
  }
</style>
