---

---

<div class="pill"><slot /></div>

<style>
  .out {
  }
  .pill {
    color: var(--gray-0);

    display: flex;
    padding: 0.5rem 0.7rem;
    margin: 0px 0px 0px 10px;
    gap: 0.5rem;

    border: 1px solid var(--accent-regular);

    border-radius: 999rem;
    font-size: var(--text-sm);
    line-height: 1.15;
    text-align: center;
    white-space: nowrap;
    background-color:var( --gray-999);
  }

    @media (min-width: 50em) {
    .pill {

      font-size: var(--text-md);
      
    }
</style>
