---
interface Props {
  title: string;
  tagline?: string;
  sub: string;
  link: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title, sub, link } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="Stack gap-2">
    <h1 class="title">{title}</h1>
    {tagline && <p class="tagline">{tagline}</p>}
    <a href={link} target="_blank">
      <h3 style="margin: 20px 0px 10px 10px;" class="artist">By {sub}</h3></a
    >
  </div>

  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }
.artist{
  font-size: var(--text-xl);
}
  .title {
    font-size: var(--text-2xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }
    .artist{
  font-size: var(--text-3xl);
}
    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
